* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin-bottom: 0 !important;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}
i {
  color: hsl(37, 81%, 56%);
}
.top_nav {
  background-color: hsl(23, 15%, 10%);
  width: 100%;
  position: relative;
  z-index: 1000;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  background-color: 0;
  color: #fff;
  width: 90%;
  margin: 0 auto;
}
.topbar_list1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.topbar_list2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.borders {
  width: 50px;
  border-right: 1px solid white;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* main_page Start */
.main_page {
  position: relative;
  background-color: #000;
}

.nav_bar {
  width: 100%;
  padding: 30px 0;
  z-index: 1000;
  z-index: 1000;
  position: fixed;
}
.navBar {
  display: flex;
  align-items: center;
  color: #fff;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

.navLinks {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navLinks a:hover {
  color: hsl(37, 81%, 56%);
  transition: 0.2s ease-in-out;
}
.calls {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.callNo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ellipse {
  width: 50px;
  height: 50px;
  border: 1px white solid;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
.hamburger {
  display: none;
  cursor: pointer;
  border: 3px solid black;
  padding: 3px;
}
.bar {
  display: block;
  background-color: black;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
.main_pageItem {
  width: 100%;
}
.overlay_image {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.pageItem_container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  padding-bottom: 120px;
  padding-top: 120px;
  width: 90%;
}
.main_pageItem h1 {
  font-size: 3rem;
  font-weight: bolder;
  width: 70%;
}
.btn {
  display: flex;
}
.button {
  border-radius: 100px;
  border: none;
  background-color: hsl(37, 81%, 56%);
  color: white;
  font-weight: bold;
  width: 30%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
/* main_page End */
/* carousel1 */
.bttn {
  background-color: #fff;
  width: 100px;
  height: 100px;
  transform: translateY(-8px) rotate(-45deg);
  top: -40px;
  left: 0;
  right: 0;
  margin: auto;
}
.buttons {
  position: relative;
  width: 180px;
  top: -40px;
  left: 0;
  right: 0;
  margin: auto;
}
.carousel-control-next,
.carousel-control-prev {
  align-self: center;
  width: 140px !important;
  height: 80px;
  opacity: 1 !important;
}

#icon-black {
  color: hsl(37, 81%, 56%);
  font-size: 50px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  transition: 0.6s ease-in-out;
}
.carousel-control-prev:hover #icon-black {
  color: black;
  transition: 0.6s ease-in-out;
}
.carousel-control-next:hover #icon-black {
  color: black;
  transition: 0.6s ease-in-out;
}
.carousel-item {
  transition: -webkit-transform 0.7s ease !important;
}

/* serviceAbout start  */
.serviceAbout {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 100px 0;
}
.service {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 200px;
}
#serviceAboutId {
  display: flex;
  flex-direction: column;
  width: 24%;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-color: #fdf5eb;
  padding: 40px;
  height: 40%;
  border-radius: 10px;
}
#serviceAboutId:hover {
  transform: translate(0, -10px);
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(148, 146, 146, 0.2),
    0 1px 5px 0 rgba(148, 146, 146, 0.2);
  transition: 0.4s ease-in-out;
}

#serviceAboutId i {
  font-size: 4rem;
  color: hsl(37, 81%, 56%);
}

/* about */
.aboutt {
  position: relative;
  display: flex;
  align-items: center;
}
.about_image {
  position: relative;
  width: 50%;
}
.about_boxes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -30px;
}
.about_image .pale_box {
  width: 60%;
  height: 60vh;
  background-color: #fdf5eb;
  position: absolute;
  border-radius: 10px;
}
.about_image .orange_box {
  width: 50%;
  height: 53vh;
  background-color: hsl(37, 81%, 56%);
  position: absolute;
  margin: auto;
}
.about_image .about_img1,
.about_img2 {
  position: absolute;
  width: 45%;
  height: 300px;
}
.about_image .about_img1 {
  top: -300px;
  left: 29px;
}
.about_image .about_img2 {
  top: -60px;
  right: 10px;
}
.about_image .about_img1 img,
.about_img2 img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.about_info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
  width: 40%;
}
.about_info h1 {
  font-size: 2.5em;
}
.checks {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
}

.about_info .button {
  border-radius: 100px;
  border: none;
  background-color: hsl(37, 81%, 56%);
  color: white;
  font-weight: bold;
  width: 40%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: hsl(0, 0%, 21%);
  transition: 0.4s ease-in-out;
}
/* serviceAbout start  */
/* products start */
.products,
.client {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #fdf5eb;
  padding-bottom: 100px;
}
.productCall {
  background-color: hsl(37, 81%, 56%);
  padding: 50px 0;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
  border-radius: 0 0 10px 10px;
}
.callUs {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.call {
  display: flex;
  width: 50%;
  color: #fff;
}
.call h2 {
  font-size: 40px;
}
.callUs h1 {
  font-size: 60px;
  color: #fff;
}
#explore {
  font-size: 2.5em;
  width: 40%;
  text-align: center;
}
.product_div,
.team_div,
.client_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  gap: 20px;
}
.productContainer,
.teamContainer,
.clientContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  background-color: #fff;
  padding-top: 30px;
  margin-top: 30px;
}

.productContainer img {
  width: 100%;
  border-radius: 0 0 10px 10px;
  margin-top: 0px;
}
.productContainer #price {
  border: 1px solid hsl(37, 81%, 56%);
  border-radius: 10px;
}

/* products end */
/* our services start */
.our_services {
  width: 90%;
  margin: auto;
  padding: 200px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceText {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  width: 50%;
}
.serviceText h1 {
  font-size: 2.5em;
}
.services_icon {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
}
.circle {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}
.circle i {
  font-size: 1rem;
  background-color: hsl(37, 81%, 56%);
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
.product_boxes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* our services end */
/* our team start */
.our_team {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  flex-direction: column;
  padding: 120px 0;
}
.teamText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.teamText h1 {
  width: 70%;
  font-size: 2.5rem;
}
.team_div {
  margin-top: 20px;
}
.teamContainer {
  background-color: #fdf5eb;
  padding-top: 0;
  padding-bottom: 20px;
}
.teamContainer img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
/* our team end */
/* our client start */

.client {
  padding-top: 100px;
  padding-bottom: 0;
}
.clientInfo {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}
.pic_border {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 1px solid #b7b4b4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client_pic {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
.client_pic img {
  border-radius: 100px;
  width: 100%;
}
.clientName {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}
.client_div {
  width: 100%;
  margin-bottom: 50px;
}
.clientContainer {
  align-items: flex-start;
  padding: 30px 0;
}
.clientContainer #feedback {
  width: 90%;
  margin: auto;
  text-align: left;
}
.subscribe {
  background-color: hsl(37, 81%, 56%);
  padding: 50px 0;
  width: 90%;
  margin: auto;

  border-radius: 10px 10px 0 0;
}
.email {
  display: flex;
  width: 50%;
  border: #fff 1px solid;
  color: #fff;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}
.email input {
  background-color: transparent;
  border: none;
  width: 100%;
}
.signUp {
  border-radius: 10px;
  border: none;
  background-color: #000;
  color: white;
  font-weight: bold;
  width: 18%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
/* our client end */
/* our footer start */
footer {
  width: 100%;
  background-color: #1e1916;
  padding-top: 100px;
  margin-top: 100px;
}
.footItems {
  width: 90%;
  margin: auto;
  color: #fff;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.footerItem,
.footerItem2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footItems i {
  color: #fff;
}
.footIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footIcon:hover,
.footItems a:hover {
  transform: translate(10px, 0);
  color: hsl(37, 81%, 56%);
  transition: 0.4s ease-in;
}
.icons {
  display: flex;
  gap: 10px;
}
.icons .ellipse {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}
.icons .ellipse:hover {
  background-color: #fff;
  transition: 0.6s ease-in-out;
}
.icons .ellipse i {
  color: white;
}
.photo_gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.photoGallery {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 20px;
  align-self: flex-start;
}
.photo_gallery .photo {
  width: 90px;
  height: 70px;
  border-radius: 10px;
  border: 5px #fff solid;
  padding: 0;
}
.photo img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.footerBottomItem {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footerBottom {
  margin-top: 70px;
  background-color: #111111;
  padding: 30px 0;
  color: #fff;
}
.site {
  display: flex;
  gap: 5px;
}
#siteName {
  color: hsl(37, 81%, 56%);
}

/* our footer end */
/* mediaQuery */

@media (max-width: 900px) {
  .hamburger {
    display: block;
    margin-left: 50px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navLinks {
    position: absolute;
    right: -100%;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 70%;
    transition: 1s;
    z-index: 10;
    align-items: flex-start;
    padding: 0 20px;
  }

  .link {
    margin: 16px 0;
  }
  .navBar {
    justify-content: space-between;
  }

  .navLinks.active {
    right: 0;
    top: 50px;
    transform: translateX(-23%);
  }
  .navBar .calls {
    display: none;
  }
}
